<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Sergey Armodin</string>
	<key>Builder Version</key>
	<string>10600.2.5</string>
	<key>CFBundleDisplayName</key>
	<string>Select</string>
	<key>CFBundleIdentifier</key>
	<string>com.arm1.ru.selectlikeaboss</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>end.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Extension that allows you to select text inside of links. Just like in old Opera browser.</string>
	<key>DeveloperIdentifier</key>
	<string>345VKAJA5N</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/makoni/select-like-a-boss-for-safari</string>
</dict>
</plist>
